/* Variable Declarations */
:root {
  --paper-texture: url("./images/textured-paper.webp");
  --paper-color: #fff4b0;
  --paper-line-height: 36px;
  --paper-line: 1px 35px;
  --paper-line-color: #0000ff42;
  --paper-font-size: 24px;
  --leather-texture: url("./images/leather.webp");
  --leather-color: #381a14;
  --brown-color: #381a14cc; /* matches leather without texture */
  --wood-texture: url("./images/wood.webp");
  --wood-color: #b3855f;
  --serif-font: "Libre Baskerville", serif;
  --script-font: "Dancing Script", cursive;
  --button-font: "Ubuntu", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  background-color: var(--brown-color);
}

#root {
  background-color: var(--wood-color);
  background-image: var(--wood-texture);
  background-blend-mode: color-burn;
  height: 100svh;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

ul.list {
  margin: 0;
  padding-left: 30px;
}

li {
  cursor: pointer;
  transition: box-shadow 200ms ease;
  position: relative;
}

.no-bullet-point {
  list-style: none;
}

.list-marker {
  position: absolute;
  top: 6px;
  left: -28px;
}

.list-marker.complete {
  opacity: 0.6;
}

.position-div {
  width: fit-content;
  margin: 40px auto auto;
}

.inside-cover {
  display: grid;
  grid-template-columns: 25px;
  grid-template-rows: 110px 380px 300px;
}

.grid-div {
  grid-column-start: 2;
  background-color: var(--leather-color);
  background-image: var(--leather-texture);
  width: 780px;
  height: 880px;
  border-radius: 0.5% 2% 2% 0.5%;
  box-shadow: 8px 4px 8px var(--leather-color), 0px 0px 10px 2px var(--leather-color);
  display: grid;
  grid-template-columns: 10px 25px;
  grid-template-rows: 60px 20px 320px;
}

.heading {
  z-index: 1;
  background: var(--paper-color) var(--paper-texture);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 115px;
}

.heading.day .date > span {
  display: block;
}

.heading.month {
  height: auto;
  flex-direction: column-reverse;
  gap: 0.5rem;
  z-index: 2;
}

.heading.month .widget {
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 1rem;
}

.heading.month .date {
  font-size: 1.2rem;
  align-self: flex-start;
  background: var(--paper-texture), linear-gradient(var(--paper-color) calc(100% - 1px), blue);
  width: 100%;
}

.date {
  font-size: 2.7rem;
  margin: 0;
  margin-bottom: -0.1em;
  font-family: var(--serif-font);
  font-weight: 700;
  line-height: 110%;
}

.profile-heading {
  font-size: 2.7rem;
  font-family: var(--serif-font);
  font-weight: 700;
  bottom: 0;
  margin: 0;
  margin-bottom: -0.1em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  line-height: 110%;
  height: 100%;
}

.profile-heading svg {
  font-size: 5rem;
  position: relative;
  bottom: -0.1em;
}

.profile-nav {
  font-family: var(--serif-font);
  font-weight: 700;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
}

.user-nav,
.date-label,
.profile-nav {
  transition: background-color 75ms ease;
}

.profile-nav:hover,
.date-label:hover,
.user-nav:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.user-nav a {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-nav a span {
  white-space: nowrap;
  max-width: 12ch;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile--wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 130px 1fr;
  gap: 0 1rem;
  align-items: baseline;
}

.profile--wrapper > * {
  margin-bottom: 35px;
}

.edit-info--form {
  display: flex;
  align-items: center;
}

.edit-info--form input[type="text"] {
  width: auto !important;
}

.edit-info-form-action {
  color: inherit;
  border: none;
  border-radius: 2px;
  background: none;
  padding: 0.125rem 0.25rem;
  display: flex;
  cursor: pointer;
  opacity: 0.7;
  transition: background-color 75ms ease;
}

.edit-info-form-action:focus {
  outline: auto;
}

.edit-info-form-action:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.edit-info-button-group {
  display: flex;
  align-items: center;
  gap: 2px;
  height: fit-content;
}

.profile--wrapper input[type="text"],
.password-reset input {
  display: block;
  font-family: var(--serif-font) !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  max-width: 100% !important;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  text-indent: 0 !important;
}

.profile--wrapper input[type="text"]:focus,
.password-reset input:focus {
  font-size: 18px !important;
}

.password-reset .password-input {
  max-width: 350px;
}

.profile--info {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile--info p {
  margin: 0;
}

.profile--label,
.profile--info {
  font-family: var(--serif-font);
  color: inherit;
  font-size: 18px;
}

.profile--label {
  font-weight: 700;
}

button.password--submit {
  margin-left: 1rem;
  margin-top: 1.5rem;
}

/* Images */

.binder-rings {
  position: relative;
  z-index: 3;
  height: 280px;
  grid-column-start: 1;
  grid-row-start: 2;
}

.binder-rings-two {
  position: relative;
  z-index: 3;
  height: 280px;
  grid-column-start: 1;
  grid-row-start: 3;
}

.watermark {
  position: absolute;
  opacity: 0.15;
  right: 0;
  bottom: 50px;
}

.page {
  background-image: var(--paper-texture);
  width: 750px;
  height: 851px;
  margin: 12px auto;
  background-color: var(--paper-color);
  box-shadow: 1px 1px 1px 1px #381a1480, 2px 1px 0 0 var(--paper-color), 3px 2px 1px 1px #381a1480,
    4px 2px 0 0 var(--paper-color), 5px 4px 1px 1px #381a1480, 6px 4px 0 0 var(--paper-color),
    2px 2px 16px 8px #381a1480;
  padding: 15px 15px 5px 35px;
  grid-column-start: 2;
  display: grid;
  grid-template-rows: max-content auto;
}

.pattern__wrapper {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--leather-color) #c9c39f;
  scroll-behavior: smooth;
  width: 102%;
}

.page .pattern__wrapper::-webkit-scrollbar {
  width: 4px;
}

.page .pattern__wrapper::-webkit-scrollbar-track {
  background: var(--paper-color) var(--paper-texture);
}

.page .pattern__wrapper::-webkit-scrollbar-thumb {
  background: var(--leather-color) var(--leather-texture);
}

.pattern {
  position: relative;
  grid-row-start: 2;
  min-height: 100%;
  width: 98%;
  background-image: var(--paper-texture),
    repeating-linear-gradient(#fff4b0 var(--paper-line), blue var(--paper-line-height));
}

.content {
  padding-top: var(--paper-line-height);
  padding-bottom: var(--paper-font-size);
  line-height: 35px;
  font-size: var(--paper-font-size);
  font-family: var(--script-font);
  letter-spacing: 1.5px;
  word-spacing: 3px;
  position: relative;
}

.list-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 1px;
}

.list-wrapper span {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.list-wrapper .expand-item {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  opacity: 0;
  padding: 0.125rem 0.25rem;
  display: flex;
  transition: opacity 200ms ease;
  position: relative;
  top: 4px;
}

.list-wrapper .expand-item:focus {
  outline: auto;
}

li:where(:hover, :focus-within) .list-wrapper .expand-item {
  opacity: 0.5;
}

.notes-border {
  position: absolute;
  inset: calc(100% + 1px) 0 auto -2rem;
  z-index: 3;
  background: var(--leather-color) var(--leather-texture);
  padding: 0.4rem 0.5rem 0.5rem 0.4rem;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.notes-container {
  padding: 1rem;
  padding-top: 0.5rem;
  background: var(--paper-color) var(--paper-texture);
  box-shadow: 1px 1px 1px 1px #381a1480, 2px 1px 0 0 var(--paper-color);
  position: relative;
}

.notes-container > form {
  margin-top: 1rem;
  display: flex;
}

.notes-container input {
  width: calc(100% - 2rem);
  padding-right: 2rem;
  background: inherit;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #0000ff42;
  text-overflow: ellipsis;
  text-indent: 1rem;
  font-family: var(--script-font);
  font-size: 1.5rem;
}

.notes-container .new-note {
  text-indent: 8px;
}

.notes-container input[type="text"]:focus {
  max-width: 100%;
}

.notes-container input.edit-note {
  width: calc(100% - 4rem);
  padding: 0;
  text-indent: 2px;
  position: relative;
  font-size: 1.4rem;
}

.notes-container .add-note--button {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #d4caa3;
  border: 1px solid var(--leather-color);
  transition: background-color 200ms ease;
}

.notes-container .add-note--button:hover {
  background-color: var(--brown-color);
  color: var(--paper-color);
}

.notes-container .add-note--button:focus {
  outline: auto;
  outline-color: var(--brown-color);
  outline-offset: 4px;
}

.notes-list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-left: 2rem;
}

.notes-list li {
  font-size: 1.4rem;
  line-height: 1.1;
  padding: 8px 0;
}

.notes-list .note-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes-list .note-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.edit-note-button {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  padding: 0.125rem 0.25rem;
  display: flex;
  transition: opacity 200ms ease, ouline 200ms ease;
}

.notes-list li .edit-note-button {
  opacity: 0;
  transition: opacity 200ms ease;
}

.notes-list li:hover .edit-note-button,
.notes-list li:focus-within .edit-note-button {
  opacity: 0.5;
}

.edit-note-button-group {
  display: flex;
  gap: 2px;
}

.notes-list form {
  position: relative;
  width: 100%;
  display: flex;
}

.notes-list .edit-note-form-action {
  top: unset;
  border: none;
  background: none;
  box-shadow: none;
  padding: 0.125rem 0.25rem;
  display: flex;
  cursor: pointer;
  border-radius: 2px;
  opacity: 0.7;
}

.notes-list .edit-note-form-action:hover,
.notes-list .eedit-note-form-action:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: unset;
}

.edit-note-form-action svg {
  color: black;
}

.notes-list > form > .edit-note-form-action:first-of-type {
  right: 3rem;
}

.notes-border ~ .menu-backdrop {
  z-index: 2;
}

.revealnotes-enter,
.revealnotes-exit-done {
  transform: scaleY(0);
}

.revealnotes-enter > .notes-container,
.revealnotes-exit-done > .notes-container {
  opacity: 0;
}

.revealnotes-enter-active,
.revealnotes-exit-active {
  transform-origin: top;
  transition: transform 300ms ease;
}

.revealnotes-enter-active > .notes-container,
.revealnotes-exit-active > .notes-container {
  transition: opacity 300ms ease;
}

.revealnotes-enter-active {
  transform: scaleY(1);
}

.revealnotes-enter-active > .notes-container {
  opacity: 1;
}

.revealnotes-exit-active {
  transform: scaleY(0);
}

.revealnotes-exit-active > .notes-container {
  opacity: 0;
}

.revealnotes-enter-done {
  transform: scaleY(1);
  opacity: 1;
}

.revealnotes-enter-done > .notes-container {
  opacity: 1;
}

.menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: transparent;
  cursor: default;
}

.menu-action-list {
  display: flex;
  align-items: center;
  gap: 2px;
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: default;
}

.menu-action-button {
  padding: 0;
  background: transparent;
  color: black;
  border: none;
  display: flex;
  cursor: pointer;
  padding: 0.125rem 0.25rem;
  border-radius: 2px;
  transition: background-color 75ms ease;
}

.menu svg {
  font-size: var(--paper-font-size);
}

.menu-action-button:hover {
  background-color: rgba(0, 0, 0, 0.04);
  outline: none;
}

.menu-action-button:focus {
  outline: auto;
}

.revealmenu-enter {
  transform: scaleY(0);
  transform-origin: top;
}

.revealmenu-enter.revealmenu-enter-active {
  transform: scaleY(1);
  transition: transform 200ms ease;
}

.revealmenu-enter-done {
  transform: scaleY(1);
}

.revealmenu-exit {
  transform: scaleY(1);
  transform-origin: top;
}

.revealmenu-exit.revealmenu-exit-active {
  transform: scaleY(0);
  transition: transform 200ms ease;
}

.revealmenu-exit-done {
  transform: scaleY(0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: color 5000s ease-in-out 0s, background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: inherit !important;
}

.password-reset label {
  display: inline-block;
  height: 33px;
}

input[type="text"].new-item,
.password-reset input {
  width: 100%;
  line-height: calc(var(--paper-line-height) - 1px);
  font-size: 20px;
  max-width: 75%;
  background-color: transparent;
  font-family: var(--script-font);
  text-indent: 30px;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  border: none;
}

.password-reset input[type="password"],
.password-reset input[type="text"] {
  text-indent: 1rem !important;
  font-family: var(--serif-font);
  font-size: 1rem;
  max-width: 200px;
}

.password-reset input[type="text"] {
  letter-spacing: 1.5px;
  word-spacing: 3px;
}

input[type="text"]:focus,
.password-reset input[type="password"]:focus {
  outline: none;
  max-width: 75%;
  background-color: transparent;
}

input[type="text"]::placeholder,
.password-reset input[type="password"]::placeholder {
  font-family: var(--script-font);
  font-size: 20px;
  color: grey;
  line-height: calc(var(--paper-line-height) - 1px);
}

textarea {
  outline: none;
  text-transform: capitalize;
  resize: none;
  line-height: 1.5;
  background-color: transparent;
}

.list-inline-edit {
  line-height: normal;
}

.list-inline-edit::before {
  content: "";
  position: absolute;
  z-index: 3;
  inset: 0 0 0 -2rem;
  border-radius: 0.5rem;
  outline: 2px solid var(--brown-color);
  background: none;
}

.list-inline-edit input[type="text"].new-item {
  text-indent: 0px;
  font-size: inherit !important;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  max-width: initial;
}

.list-item-form {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: calc(100% - 2px);
  z-index: 3;
}

.list-item-form button.new-item-submit {
  background-color: #d4caa3;
  border: 1px solid var(--leather-color);
  height: calc(var(--paper-line-height) - 2px);
  min-height: initial;
  width: initial;
  min-width: calc(var(--paper-line-height) - 2px);
}

.list-item-form
  button.new-item-submit:not(
    .button-appear-exit,
    .button-appear-enter,
    .button-appear-exit-active,
    .button-appear-enter-active,
    .button-appear-enter-done
  ) {
  transform: scale(0);
}

.list-item-form button.new-item-submit:hover {
  background-color: var(--leather-color);
  color: #d4caa3;
  cursor: pointer;
}

.list-item-form span svg {
  font-size: 1.1rem;
}

button.button-appear-enter {
  transform: scale(0);
}

button.button-appear-enter-active,
button.button-appear-enter-done {
  transform: scale(1);
  transition: transform 150ms cubic-bezier(0.44, 1.65, 0.69, 0.815);
}

button.button-appear-exit-active.button-appear-exit,
button.button-appear-exit-done {
  transition: transform 350ms ease;
  transform: rotateZ(360deg) scale(0);
}

/* user and weather widget */

.weather {
  cursor: pointer;
  height: 24px;
  display: flex;
  align-items: center;
}

.weather div[role="progressbar"] {
  width: 16px !important;
  height: 16px !important;
  color: black;
  margin: 4px;
}

.change-city-button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  border-radius: 2px;
}

.change-city-button:focus {
  outline: auto;
  outline-offset: 2px;
  outline-color: black;
}

.get-weather {
  background: inherit;
  padding: 0;
  border: none;
  font-family: var(--serif-font) !important;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 75ms ease;
}

.get-weather:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.get-weather span {
  font-size: 1rem;
}

.weather-input__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.widget .weather-input {
  font-family: var(--serif-font) !important;
  font-size: 1rem;
  font-weight: 700;
  border: none !important;
  margin: 0 !important;
  text-align: right;
  height: 24px !important;
  max-width: 150px;
}

.widget .weather-input::-webkit-scrollbar {
  display: none;
}

.widget .weather-input::placeholder {
  font-family: var(--serif-font) !important;
  font-size: 1rem;
  font-weight: 700;
  color: grey;
}

.widget .weather-input:focus {
  box-shadow: none;
  font-size: 1rem;
}

.weather-input__wrapper button {
  padding: 0;
  background: inherit;
  border: none;
  cursor: pointer;
  display: flex;
}

.weather-input__wrapper button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.weather-input__wrapper button:focus {
  background: inherit;
  outline: auto;
  outline-color: black;
}

/* OWFont override */
.owf-2x {
  font-size: 24px;
}

.widget {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: normal;
  justify-content: space-between;
}

.widget > *,
.date-picker,
.user-nav a {
  height: 24px;
  justify-content: flex-end;
  color: black;
}

/* .widget > *:focus, */
/* .widget > *:focus-within, */
.user-nav a:focus {
  outline: auto;
  outline-offset: 2px;
  outline-color: black;
  outline-style: auto;
}

.temp {
  font-family: var(--serif-font);
  font-weight: 700;
  margin: 0;
  font-size: 1rem;
  line-height: 110%;
}

label.user-nav {
  font-family: var(--serif-font);
  font-weight: 700;
  color: black;
}

.widget button.logout-button {
  padding: 0;
  font-family: var(--serif-font);
  font-weight: 700;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 0 2px;
  font-size: 1rem;
  line-height: 1.15;
  text-transform: none;
  letter-spacing: initial;
  cursor: pointer;
}

.widget button.logout-button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.widget button.logout-button:focus {
  outline-offset: 2px;
  outline-color: black;
  outline: auto;
}

.planner-toggle__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  background: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 0.125rem 0.25rem;
  display: flex;
  transition: background-color 75ms ease;
}

.planner-toggle__wrapper:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.planner-toggle__wrapper:focus-visible {
  outline: auto;
}

/* cover */

.center-div {
  background-color: var(--leather-color);
  background-image: var(--leather-texture);
  height: 880px;
  width: 780px;
  margin: 40px auto auto;
  display: grid;
  text-align: center;
  grid-template-rows: 100px 300px;
  border-radius: 0.5% 2% 2% 0.5%;
  box-shadow: 8px 4px 8px var(--leather-color), 0px 0px 10px 4px var(--leather-color);
}

.cover-title {
  font-family: var(--button-font);
  background-color: #371a12;
  color: transparent;
  text-shadow: 2px 2px 1.5px #ffdc73bf;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-size: 80px;
  grid-row-start: 2;
  grid-column-start: 1;
  letter-spacing: -3px;
  line-height: 110%;
}

.center-div h1:nth-of-type(n + 1):first-letter {
  font-size: 90px;
}

#line-two {
  padding-top: 90px;
}

.cover-btns {
  grid-row-start: 3;
}

.btn {
  display: inline;
  width: 200px;
  max-width: 100%;
  background-color: #371a12 !important;
  background-image: none;
  margin: 5px 20px;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 0.25rem;
  font-family: var(--button-font);
  color: #d4caa3 !important;
  transition: color 300ms ease, background-color 300ms ease;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #d4caa3 !important;
  color: #371a12 !important;
}

.btn:focus {
  outline: auto;
  outline-offset: 2px;
  outline-color: var(--leather-color);
}

.btn-secondary {
  background-color: #d4caa3 !important;
  color: #371a12 !important;
}

.btn-secondary:hover {
  color: #d4caa3 !important;
  background-color: #371a12 !important;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.8;
  box-shadow: none;
}

.modal-backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  background-image: var(--paper-texture);
  background-color: var(--paper-color) !important;
  max-width: 500px;
  width: 90%;
  height: fit-content !important;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  box-shadow: 3px 3px 12px 2px rgb(0 0 0 / 40%);
  position: relative;
}

.modal-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.modal-close-button svg {
  color: black;
}

.modal-title {
  font-family: var(--serif-font);
}

.modal-close-button:focus {
  outline: auto;
  outline-offset: 2px;
}

.modal-content-enter {
  opacity: 0;
}

.modal-content-enter > .modal {
  opacity: 0;
  top: 30%;
  transform: scale(0.85) translateY(-40%);
}

.modal-content-enter-active {
  opacity: 1;
  transition: opacity 400ms ease;
}

.modal-content-enter-active > .modal {
  opacity: 1;
  top: 40%;
  transform: scale(1) translateY(-40%);
  transition: all 400ms ease-in-out;
}

.modal-content-enter-done {
  opacity: 1;
}

.modal-content-enter-done > .modal {
  top: 40%;
  transform: scale(1) translateY(-40%);
}

.modal-content-exit {
  opacity: 1;
}

.modal-content-exit > .modal {
  top: 40%;
  transform: scale(1) translateY(-40%);
}

.modal-content-exit-active {
  opacity: 0;
  transition: opacity 400ms ease;
}

.modal-content-exit-active > .modal {
  top: 30%;
  transform: scale(0.8) translateY(-40%);
  opacity: 0;
  transition: all 200ms ease-out;
}

.modal input:not([type="submit"]),
.modal input:focus {
  border-radius: 0px;
  font-family: var(--serif-font);
  letter-spacing: 1px;
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid var(--paper-line-color) !important;
  background-color: transparent;
  outline: none;
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 0 0.5rem;
  font-size: 1.125rem;
  height: 3rem;
}

.modal p {
  line-height: 35px;
  font-size: var(--paper-font-size);
  font-family: var(--script-font);
  letter-spacing: 1.5px;
  margin: 0;
  border-bottom: 1px solid var(--paper-line-color);
}

.modal button.modal-action {
  margin-top: 2rem;
}

.password-input {
  position: relative;
}

.password-input .password-visibility {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.password-visibility {
  appearance: none;
  border: none;
  padding: 0;
  background: none;
  display: flex;
  cursor: pointer;
  inset: 1px 0 1px auto;
  height: calc(100% - 2px);
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
}

.password-visibility:focus {
  outline: auto;
}

.password-visibility svg {
  color: black;
}

/* Tablet size */

@media (max-width: 850px) {
  body,
  html,
  #root,
  .position-div,
  .grid-div .page {
    overscroll-behavior: none;
  }

  .heading h1 {
    font-size: 2.3rem;
  }

  .widget {
    padding-right: 0.875rem;
  }

  ul.list {
    padding-left: 25px;
  }

  .list-marker {
    left: -26px;
  }

  .list-inline-edit::before {
    inset: 0 0.125rem 0 -1.6rem;
  }

  .position-div {
    display: block;
    width: 100%;
    margin: 0;
    height: 100svh;
    /* max-height: 1150px; */
  }

  .page {
    width: 97%;
    margin: 2% auto;
    padding: 10px 5px 2px 15px;
    height: 96%;
    overflow: visible;
  }

  .grid-div {
    padding: 2px 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  .pattern__wrapper {
    width: 100%;
  }

  .notes-border {
    left: -1.5rem;
  }

  .binder-rings,
  .binder-rings-two {
    visibility: hidden;
    position: absolute;
    top: 0;
  }

  .watermark {
    width: 400px;
    right: 5%;
    bottom: 10%;
    position: fixed;
  }

  .center-div {
    display: block;
    margin: 3% auto;
    height: 96vh;
    width: 93%;
    max-width: 700px;
    padding-top: 170px;
  }

  .center-div h1:nth-of-type(n + 1):first-letter {
    font-size: 60px;
  }

  .cover-title {
    margin: auto;
    font-size: 50px;
  }

  #line-two {
    padding-top: 0;
    margin-bottom: 50px;
  }

  .list-wrapper .expand-item {
    opacity: 0.5;
  }

  .profile--wrapper {
    display: block;
  }

  .profile--wrapper > * {
    margin-bottom: 33px;
  }

  input[type="text"].new-item {
    text-indent: 22px;
  }

  .profile--wrapper input[type="text"].new-item {
    height: 35px !important;
  }

  .profile--wrapper button {
    top: -8px;
  }
}

/* Mobile Size  */

@media (max-width: 500px) {
  :root {
    --faded: rgba(2, 2, 2, 0.664);
    --paper-line-height: 34px;
    --paper-line: 1px 33px;
    --paper-font-size: 20px;
  }

  html {
    font-size: 14px;
  }

  .heading {
    padding-right: 0;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .heading.month,
  .heading.day,
  .heading {
    height: 115px;
  }

  .heading.month .date > span {
    display: block;
  }

  .heading.month .widget {
    gap: 0;
  }

  .heading.month .date {
    font-size: 1.6rem;
  }

  .widget {
    align-items: flex-start;
    flex-direction: row-reverse;
    color: var(--faded);
    padding-right: 0;
    gap: 6px;
  }

  .widget > *,
  .date-picker,
  .user-nav a {
    height: 37px;
    flex-basis: 25%;
  }

  .widget > *,
  .date-picker {
    color: var(--faded);
  }

  .widget input,
  textarea {
    color: var(--faded);
    padding: 0;
    overflow: hidden;
    line-height: 1;
  }

  .widget svg {
    font-size: 24px;
    color: var(--faded);
  }

  .weather-input__wrapper,
  .weather,
  .get-weather {
    color: var(--faded);
    flex-direction: column-reverse;
  }

  .get-weather span {
    line-height: 1;
    font-size: 0.875rem;
  }

  .weather-input__wrapper {
    justify-content: start;
    align-content: flex-start;
  }

  .weather-input__wrapper button {
    height: 24px;
  }

  .widget .weather-input {
    text-align: center !important;
    word-wrap: break-word;
    height: auto !important;
    width: 100% !important;
    font-size: 0.875rem;
  }

  .widget .weather-input::placeholder,
  .widget .weather-input:focus,
  .temp {
    font-size: 0.875rem;
    line-height: 1;
  }

  .weather-input:focus {
    max-width: none !important;
    text-align: center !important;
  }

  .user-nav {
    justify-self: center;
  }

  .user-nav a * {
    color: var(--faded);
  }

  .user-nav a span {
    max-width: 8ch;
  }

  .user-nav a,
  .widget > button.logout-button {
    flex-direction: column-reverse;
    text-align: center;
    line-height: 1;
    font-size: 0.875rem;
  }

  .widget > button.logout-button {
    color: inherit;
  }

  .weather div[role="progressbar"] {
    width: 24px !important;
    height: 24px !important;
    color: var(--faded);
    margin: 5px;
  }

  .planner-toggle__wrapper {
    inset: auto 0.5rem 0 auto;
  }

  .page {
    padding: 5px 5px 2px 10px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 2px;
    /* grid-template-rows: 130px; */
  }

  .pattern {
    width: 100%;
  }

  .content {
    line-height: calc(var(--paper-line-height) - 1px);
    word-spacing: initial;
  }

  .list li {
    position: relative;
  }

  li::marker {
    font-size: 1rem;
  }

  .list-marker {
    left: -23px;
  }

  .list-inline-edit::before {
    inset: 0 0.125rem 0 -1.45rem;
  }

  .menu-action-list {
    gap: 4px;
  }

  .menu svg {
    font-size: 28px;
  }

  .watermark {
    width: 250px;
    right: 1%;
    bottom: 10%;
    opacity: 0.1;
  }

  h1.date {
    font-size: 1.6rem;
  }

  h1.profile-heading {
    font-size: 1.9rem;
  }

  input[type="text"].new-item {
    max-width: none;
    font-size: 18px !important;
  }

  input[type="text"]::placeholder {
    font-size: 18px;
  }

  .list-wrapper .expand-item {
    top: 2px;
  }

  .notes-border {
    left: -1.8rem;
  }

  .notes-container {
    padding: 0.5rem;
  }

  .notes-container input {
    text-indent: 0;
    -webkit-padding-start: 4px;
  }

  .notes-container .notes-list {
    padding-left: 1.5rem;
  }

  .edit-note-form-action,
  .edit-note-button {
    opacity: 0.5 !important;
  }

  .edit-note-button {
    display: none;
  }

  .notes-list input.edit-note {
    position: relative;
  }

  .profile--wrapper > * {
    margin-bottom: 32px;
  }

  .profile--wrapper input[type="text"].new-item {
    height: 33px !important;
  }

  .password-reset {
    position: relative;
    top: 32px;
    top: var(--paper-line-height);
  }

  .password-reset input {
    height: calc(var(--paper-line-height) - 1px);
  }

  .password-reset input::placeholder {
    font-size: 20px;
  }

  .modal p {
    font-size: 1.5rem;
  }

  .modal .modal-action {
    display: block !important;
    margin: 2rem auto 0;
  }
}

.strikethrough {
  text-decoration: line-through;
  opacity: 0.5;
}
