* {
  box-sizing: border-box;
}

body {
  background-color: #ffc99d;
  background-image: url("./images/wood.png");
}

a {
  text-decoration: none;
  color: inherit;
}

ul.list {
  margin: 0;
  padding-left: 30px;
}

li {
  cursor: pointer;
  transition: box-shadow 200ms ease;
  position: relative;
}

/* li::marker {
  content: "- ";
  font-family: sans-serif;
  font-size: 1.3rem;
  margin-right: 20px;
} */

.no-bullet-point {
  list-style: none;
}

.position-div {
  width: 700px;
  margin: 40px auto auto;
}

.inside-cover {
  display: grid;
  grid-template-columns: 25px;
  grid-template-rows: 80px 340px 300px;
}

.grid-div {
  grid-column-start: 2;
  background-color: #381a14;
  background-image: url("./images/leather.png");
  width: 680px;
  height: 780px;
  border-radius: 0.5% 2% 2% 0.5%;
  box-shadow: 8px 4px 8px #381a14, 0px 0px 10px 2px #381a14;
  display: grid;
  grid-template-columns: 10px 25px;
  grid-template-rows: 60px 20px 320px;
}

.heading {
  /* max-height: 70px; */
  z-index: 1;
  background: #fff4b0 url("./images/textured-paper.png");
  position: relative;
}

.date {
  font-size: 2.7rem;
  margin-top: 25px;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  background: #fff4b0 url("./images/textured-paper.png");
}

.profile-heading {
  font-size: 2.7rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  background: #fff4b0 url("./images/textured-paper.png");
  position: absolute;
  bottom: 0;
  margin: 0;
}

.profile-nav {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.profile-nav:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.profile--wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 130px 1fr;
  gap: 0 1rem;
  align-items: baseline;
}

.profile--info {
  margin: 0;
}

.profile--label, .profile--info {
  font-family: "Libre Baskerville", serif;
  color: inherit;
  font-size: 18px;
}

.profile--label {
  text-align: right;
  font-weight: 700;
}


/* Images */

.binder-rings {
  position: relative;
  z-index: 3;
  height: 280px;
  grid-column-start: 1;
  grid-row-start: 2;
}

.binder-rings-two {
  position: relative;
  z-index: 3;
  height: 280px;
  grid-column-start: 1;
  grid-row-start: 3;
}

.watermark {
  position: absolute;
  opacity: 0.1;
  /* grid-row-start: 2;
  grid-column-start: 3;
  z-index: 0; */
  right: 0;
  top: 50px;
}

.page {
  background-image: url("./images/textured-paper.png");
  width: 650px;
  height: 735px;
  margin: 20px auto;
  background-color: #fff4b0;
  /* box-shadow: 5px 8px 8px #381a14, 0px 0px 8px 4px #381a1480; */
  box-shadow: 1px 1px 1px 1px #381a1480, 2px 1px 0 0 #fff4b0,
    3px 2px 1px 1px #381a1480, 4px 2px 0 0 #fff4b0, 5px 4px 1px 1px #381a1480,
    6px 4px 0 0 #fff4b0, 2px 2px 16px 8px #381a1480;
  padding: 15px 15px 5px 35px;
  grid-column-start: 2;
  grid-row-start: 1;
  display: grid;
  grid-template-rows: 115px;
  /* grid-template-rows: 78px; */
}

.pattern__wrapper {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #381a14 #c9c39f;
  scroll-behavior: smooth;
  width: 102%;
}

.page .pattern__wrapper::-webkit-scrollbar {
  width: 4px;
}

.page .pattern__wrapper::-webkit-scrollbar-track {
  background: #fff4b0 url("./images/textured-paper.png");
}

.page .pattern__wrapper::-webkit-scrollbar-thumb {
  background: #381a14 url("./images/leather.png");
}

.pattern {
  position: relative;
  top: -32px;
  grid-row-start: 2;
  min-height: 100%;
  width: 98%;
  background-image: url("./images/textured-paper.png"),
    repeating-linear-gradient(#fff4b0 0, #fff4b0 34px, blue 35px);
}

.content {
  padding-top: 70px;
  padding-bottom: 24px;
  line-height: 35px;
  font-size: 24px;
  font-family: "Dancing Script", cursive;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  position: relative;
}

.list-wrapper svg {
  position: relative;
  top: 3px;
  left: -3px;
}

.list-wrapper span {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  /* hyphens: auto; */
}

.menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: transparent;
}

.menu {
  position: absolute;
  z-index: 2;
  background: #381a14 url("./images/leather.png");
  padding: 2px;
  padding-top: 0;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
}

.menu div {
  background: #fff4b0 url("./images/textured-paper.png");
  display: flex;
  align-items: center;
}

.menu svg {
  margin: 5px;
  font-size: 24px;
}

.menu svg:hover {
  background: #ccc38c url("./images/textured-paper.png");
}

.revealmenu-enter {
  transform: scaleY(0);
  transform-origin: top;
}

.revealmenu-enter.revealmenu-enter-active {
  transform: scaleY(1);
  transition: transform 200ms ease;
}

.revealmenu-enter-done {
  transform: scaleY(1);
}

.revealmenu-exit {
  transform: scaleY(1);
  transform-origin: top;
}

.revealmenu-exit.revealmenu-exit-active {
  transform: scaleY(0);
  /* transform-origin: top; */
  transition: transform 200ms ease;
}

.revealmenu-exit-done {
  transform: scaleY(0);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: color 5000s ease-in-out 0s, background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: inherit !important;
}

input[type="text"].new-item {
  width: 85%;
  height: 29px !important;
  font-size: 20px;
  max-width: 75%;
  background-color: transparent;
  font-family: "Dancing Script", cursive;
  text-indent: 4px;
  margin: 0;
  padding: 0;
  border: none;
}

input[type="text"]:focus {
  outline: none;
  font-size: 20px !important;
  max-width: 75%;
  background-color: transparent;
}

input[type="text"]::placeholder {
  font-family: "Dancing Script", cursive;
  font-size: 20px !important;
  color: grey;
}

button:focus {
  background-color: transparent !important;
}

.button button {
  background-color: #d4caa3;
  border: 1px solid #381a14;
}

.button button:hover {
  background-color: #381a14;
  color: #d4caa3;
  cursor: pointer;
}

.button span svg {
  font-size: 1.1rem;
}

.button-appear-enter {
  transform: scale(0) !important;
}

.button-appear-enter-active {
  transform: scale(1) !important;
  transition: transform 150ms cubic-bezier(0.44, 1.65, 0.69, 0.815) !important;
}

/* .button-appear-exit {
} */

.button-appear-exit-active {
  transform: rotateZ(360deg) scale(0) !important;
  transition: transform 350ms ease !important;
}

/* user and weather widget */

.date-label svg {
  position: relative;
  /* right: -4px; */
  font-size: 30px;
  z-index: -1;
  display: none;
}

.date-label input {
  height: 30px;
  width: 150px;

  /* top: 3px;
  right: -3px; */
  margin: 0 !important;
  border-bottom: none !important;
  box-shadow: none !important;
  background: inherit;
  border: none;
  text-align: right;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.date-label input:focus {
  outline: 0;
}

.date-label input::placeholder {
  font-family: inherit;
  text-align: right;
}

.weather {
  cursor: pointer;
}

.get-weather {
  background: inherit;
  padding: 0;
  border: none;
  font-family: "Libre Baskerville", serif !important;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 2px;
  height: 24px !important;
}

.weather-input__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.widget .weather-input {
  overflow: visible !important;
  height: 24px !important;
  font-family: "Libre Baskerville", serif !important;
  font-size: 1rem !important;
  font-weight: 700;
  border: none !important;
  margin: 0 !important;
  text-align: right !important;
}

.widget .weather-input::placeholder {
  font-family: "Libre Baskerville", serif !important;
  font-size: 1rem !important;
  font-weight: 700;
}

.widget .weather-input:focus {
  box-shadow: none !important;
  font-size: 1rem !important;
}

.weather-input__wrapper button {
  width: 20px;
  padding: 0;
  background: inherit;
  border: none;
  cursor: pointer;
}

.weather-input__wrapper button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.weather-input__wrapper button:focus {
  background: inherit;
}

.widget {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  z-index: 3;
  align-items: flex-end;
}

.temp {
  display: inline;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  position: relative;
  top: -8px;
}

.user {
  text-align: right;
  margin-top: -5px;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

label.MuiFormLabel-root {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  color: black;
  display: block;
}

label .MuiSvgIcon-root {
  position: relative;
  top: 4px;
}

.user button.MuiButtonBase-root {
  margin: 5px -5px 0;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

/* Logout button */
.user
  .MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textSizeSmall.MuiButton-sizeSmall {
  font-size: 1rem;
  line-height: 1.15;
  text-transform: none;
  letter-spacing: initial;
}

/* cover */

.center-div {
  background-color: #381a14;
  background-image: url("./images/leather.png");
  height: 780px;
  width: 680px;
  margin: 40px auto auto;
  display: grid;
  text-align: center;
  grid-template-rows: 100px 300px;
  border-radius: 0.5% 2% 2% 0.5%;
  box-shadow: 8px 4px 8px #381a14, 0px 0px 10px 4px #381a14;
}

.cover-title {
  font-family: "Ubuntu", sans-serif;
  background-color: #371a12;
  color: transparent;
  text-shadow: 2px 2px 1.5px #ffdc73bf;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-size: 80px;
  grid-row-start: 2;
  grid-column-start: 1;
  letter-spacing: -3px;
}

.center-div h1:nth-of-type(n + 1):first-letter {
  font-size: 90px;
}

#line-two {
  padding-top: 90px;
}

.cover-btns {
  grid-row-start: 3;
}

.btn {
  display: inline;
  width: 200px;
  background-color: #371a12 !important;
  margin: 5px 20px;
  font-family: "Ubuntu", sans-serif;
  color: #d4caa3 !important;
  transition: all 300ms ease !important;
}

.btn:hover {
  background-color: #d4caa3 !important;
  color: #371a12 !important;
}

.modal {
  background-image: url("./images/textured-paper.png");
  background-color: #fff4b0 !important;
  max-width: 500px;
  height: fit-content !important;
  padding: 2% 5% !important;
}

.modal input:not([type="submit"]),
.modal input:focus {
  font-family: "Libre Baskerville", serif;
  letter-spacing: 1px;
  box-shadow: none !important;
  border-bottom: 1px solid #9e9e9e !important;
}

.modal p {
  line-height: 35px;
  font-size: 24px;
  font-family: "Dancing Script", cursive;
  letter-spacing: 1.5px;
  margin: 0;
}

.modal button {
  margin-top: 2rem;
}

/* Tablet size */

@media (max-width: 850px) {
  .heading h1 {
    font-size: 2.3rem;
  }

  ul.list {
    padding-left: 22px;
  }

  .position-div {
    display: block;
    width: 100%;
    margin: 0;
    height: 100vh;
  }

  .page {
    /* grid-template-rows: 100px; */
    width: 95%;
    margin: 2% auto;
    padding: 5px 5px 2px 25px;
    height: 98%;
    /* overflow-y: scroll;
    overflow-x: hidden; */
  }

  .grid-div {
    padding: 2px 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  .pattern__wrapper {
    /* height: 100%; */
    width: 100%;
  }

  .binder-rings,
  .binder-rings-two {
    visibility: hidden;
    position: absolute;
    top: 0;
  }

  .watermark {
    width: 400px;
    /* position: absolute; */
    right: 5%;
    top: 10%;
  }

  .center-div {
    display: block;
    margin: 3% auto;
    height: 96vh;
    width: 93%;
    max-width: 700px;
    padding-top: 170px;
  }

  .center-div h1:nth-of-type(n + 1):first-letter {
    font-size: 60px;
  }

  .cover-title {
    margin: auto;
    font-size: 50px;
  }

  #line-two {
    padding-top: 0;
    margin-bottom: 50px;
  }

  .heading {
    max-height: fit-content;
    padding-right: 0.5rem;
  }

  .date {
    position: relative;
    top: -5rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  .widget {
    position: relative;
  }

  /* .date-label svg {
    position: absolute;
    top: 5px;
    left: -14px;
  }

  .date-label input {
    position: absolute;
    top: 11px;
    left: -37px;
  } */

  .weather,
  .weather-input__wrapper {
    margin-top: 2px;
    height: 24px;
  }

  .user {
    margin-top: 0;
  }
}

/* Mobile Size  */

@media (max-width: 500px) {
  .heading {
    padding-right: 0;
  }

  .page {
    grid-template-rows: 95px;
    padding: 5px 5px 2px 15px;
    width: 98%;
    margin: 1% auto;
    height: 99%;
  }

  .pattern__wrapper {
    width: 102%;
  }

  .pattern {
    width: 97%;
    top: 0;
    background-image: url("./images/textured-paper.png"),
      repeating-linear-gradient(#fff4b0 0, #fff4b0 32px, blue 33px);
  }

  .content {
    line-height: 33px;
    font-size: 22px;
    padding-top: 66px;
  }

  .list li {
    position: relative;
  }

  li::marker {
    font-size: 1rem;
  }

  /* .menu {
    top: calc(100% + 4px);
  } */

  .menu svg {
    font-size: 28px;
    margin: 8px;
  }

  .watermark {
    width: 250px;
    right: 1%;
    top: 10%;
  }

  .date-label svg {
    position: absolute;
    top: 5px;
    left: -7px;
    display: initial;
  }

  .date-label input {
    width: 49px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 11px;
    left: -30px;
  }

  /* .date-label svg {
    left: -7px;
  }

  .date-label input {
    left: -30px;
  } */

  h1.date {
    top: -1.5rem;
    font-size: 1.9rem;
  }

  h1.profile-heading {
    font-size: 1.9rem;
    bottom: -1.5rem;
  }

  input[type="text"].new-item {
    max-width: none;
    font-size: 18px !important;
    height: 25px !important;
    text-indent: 0;
  }

  input[type="text"]::placeholder {
    font-size: 18px !important;
  }

  .modal {
    width: 90% !important;
    height: fit-content(90vh) !important;
  }

  .modal p {
    font-size: 1.5rem;
  }

  .modal button {
    display: block !important;
    margin: 2rem auto 0;
  }
}

.strikethrough {
  text-decoration: line-through;
  opacity: 0.5;
}

/* Undo materialize native styles  */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 14px;
  }
}
