.alert-wrapper {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  z-index: 500000;
  display: flex;
  flex-direction: column;
}

.alert-border {
  margin: 0.25rem;
  padding: 1rem;
  background: #381a14 url("../images/leather.webp");
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
}

.alert {
  background: #fff4b0 url("../images/textured-paper.webp");
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 40ch;
  color: #381a14;
  font-family: "Libre Baskerville", serif;
  white-space: nowrap;
}

.alert svg {
  margin-right: 1rem;
  font-size: 32px;
}

.alert span {
  text-overflow: ellipsis;
  overflow: hidden;
}

.alert span.error {
  white-space: pre-line;
}

.fadein-enter {
  transform: scaleY(0);
  transform-origin: bottom;
}

.fadein-enter.fadein-enter-active {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: all 400ms ease;
}

.fadein-enter-done {
  transform: scaleY(1);
}

.fadein-exit {
  transform: scaleY(1);
  transform-origin: bottom;
}

.fadein-exit.fadein-exit-active {
  transform: scaleY(0);
  transition: all 400ms ease;
}

.fadein-exit-done {
  transform: scaleY(0);
}

@media (max-width: 500px) {
  .alert-wrapper {
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
  }

  .alert-border {
    padding: 0.25rem;
  }

  .alert {
    margin: 0.5rem;
    padding: 1rem 0.5rem;
    width: 100%;
    max-width: calc(100% - 1rem);
  }

  .alert svg {
    margin-right: 0.5rem;
  }
}
