.date-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 90px;
}

.month-label svg {
  font-size: 1.5rem;
}

.date-picker {
  font-family: var(--serif-font);
  font-weight: 700;
}

.date-label input,
.month-label input {
  width: 100%;
  opacity: 0;
  cursor: pointer;
  line-height: 24px;
}

.react-datepicker-popper {
  inset: 22px 0 0 auto !important;
  transform: none !important;
}

.month-label .react-datepicker-popper {
  width: 100%;
  z-index: 2;
}

.month-label .react-datepicker-popper > div {
  transition: transform 200ms ease, opacity 200ms ease;
  transform-origin: top;
}

.react-datepicker-wrapper {
  position: absolute;
  max-width: 90px;
}

.month-label .react-datepicker-wrapper {
  max-width: 100%;
  left: 0;
  bottom: 0;
}

.react-datepicker {
  font-family: var(--serif-font);
  border: none;
  background: var(--leather-texture) var(--leather-color);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
  transform-origin: top right;
  animation: open-calendar 200ms ease forwards;
  --open-calendar: scale(0);
  transition: transform 200ms ease;
}

.month-label .react-datepicker {
  transform-origin: top center;
  width: 100%;
  --open-calendar: scaleY(0);
}

@keyframes open-calendar {
  from {
    opacity: 0;
    transform: var(--open-calendar);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.react-datepicker__header {
  background-color: var(--leather-color);
  background-image: var(--leather-texture);
  border-bottom: none;
}

.react-datepicker__day {
  width: 40px;
  max-width: calc(calc(100vw / 7) - 8px);
  aspect-ratio: 1 / 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.react-datepicker__day--selected,
.react-datepicker__month--selected,
.react-datepicker__month-text--keyboard-selected {
  background-color: var(--brown-color);
  color: #fff7d9;
}

.react-datepicker__day--selected:hover,
.month-label .react-datepicker__month--selected:hover,
.react-datepicker__month-text--keyboard-selected:hover {
  background-color: var(--leather-color);
}

.react-datepicker__day-name,
.react-datepicker__current-month,
.react-datepicker__header {
  color: #fff7d9;
}

.react-datepicker__day-name {
  width: 40px;
  max-width: calc(calc(100vw / 7) - 8px);
  font-size: 1rem;
}

.react-datepicker__current-month {
  font-size: 1.1rem;
}

.react-datepicker__month {
  background: var(--paper-color) var(--paper-texture);
  box-shadow: 1px 1px 1px 1px #381a1480, 2px 1px 0 0 var(--paper-color);
}

.react-datepicker__navigation {
  border-radius: 0.3rem;
  height: 28px;
}

.react-datepicker__navigation span::before {
  border-color: #fff7d9;
}

.react-datepicker__navigation:hover {
  color: #cec6aa;
}

.react-datepicker__navigation:focus {
  background-color: var(--brown-color);
}

.react-datepicker__day--today {
  font-weight: 700;
  font-size: 0.85rem;
}

.react-datepicker__day--keyboard-selected {
  background-color: inherit;
  color: inherit;
}

.react-datepicker__today-button {
  background: var(--paper-color) var(--paper-texture);
  margin: 0.3rem;
}

.month-label .react-datepicker__month-text {
  aspect-ratio: 3 / 2;
  display: grid;
  place-items: center;
}

.month-label .react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__month-wrapper {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 500px) {
  .date-label {
    flex-direction: column-reverse;
    min-width: auto;
  }

  .date-label input {
    height: 36px;
  }

  .date-label svg {
    transform: scale(0.8);
  }

  .date-picker {
    font-size: 0.875rem;
    margin-right: 0;
    line-height: 1;
  }

  .react-datepicker {
    top: 20px;
    --open-calendar: scaleY(0);
  }

  .month-label .react-datepicker {
    top: 0.5rem;
  }
}

.hidden-button {
  position: absolute;
  inset: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
