.date-label {
  display: flex;
  align-items: center;
}

.date-picker {
  font-family: var(--serif-font);
  font-weight: 700;
}

.date-label input {
  width: 100%;
  opacity: 0;
  cursor: pointer;
  line-height: 24px;
}

.react-datepicker-popper {
  inset: 22px 0 0 auto !important;
  transform: none !important;
}

.react-datepicker-wrapper {
  position: absolute;
  width: auto;
}

.react-datepicker {
  font-family: var(--serif-font);
  border: none;
  background: var(--leather-texture) var(--leather-color);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
  transform-origin: top right;
  animation: open-calendar 200ms ease forwards;
}

@keyframes open-calendar {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.react-datepicker__header {
  background-color: var(--leather-color);
  background-image: var(--leather-texture);
  border-bottom: none;
}

.react-datepicker__day:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.react-datepicker__day--selected {
  background-color: var(--brown-color);
  color: #fff7d9;
}

.react-datepicker__day--selected:hover {
  background-color: var(--leather-color);
}

.react-datepicker__day-name,
.react-datepicker__current-month {
  color: #fff7d9;
}

.react-datepicker__month {
  background: var(--paper-color) var(--paper-texture);
  box-shadow: 1px 1px 1px 1px #381a1480, 2px 1px 0 0 var(--paper-color);
}

.react-datepicker__navigation {
  border-radius: 0.3rem;
  height: 28px;
} 

.react-datepicker__navigation span::before {
  border-color: #fff7d9;
}

.react-datepicker__navigation:hover {
  color: #cec6aa;
}

.react-datepicker__navigation:focus {
  background-color: var(--brown-color);
}

.react-datepicker__day--today {
  font-weight: 700;
  font-size: 0.85rem;
}

.react-datepicker__day--keyboard-selected {
  background-color: inherit;
  color: inherit;
}

.react-datepicker__today-button {
  background: var(--paper-color) var(--paper-texture);
  margin: 0.3rem;
}

@media (max-width: 850px) {
  @keyframes open-calendar {
    from {
      transform: scale(1.3, 0);
    }
    to {
      transform: scale(1.3);
    }
  }
}

@media (max-width: 500px) {
  .date-label {
    flex-direction: column-reverse;
  }

  .date-label input {
    height: 36px;
  }

  .date-label svg {
    transform: scale(0.8);
  }

  .date-picker {
    font-size: 0.875rem;
    margin-right: 0;
  }

  .react-datepicker {
    top: 20px;
  }
}