.date-label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.date-label:focus-within {
  outline: none !important;
}

.month-label {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 75ms ease;
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
}

.month-label:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.month-label svg {
  font-size: 1.5rem;
}

.date-picker {
  font-family: var(--serif-font);
  font-weight: 700;
  font-size: 1rem;
  padding: 0;
  gap: 0.25rem;
  align-items: center;
}

.date-picker span {
  line-height: 1;
  display: flex;
  align-items: center;
}

.date-picker span svg {
  font-size: 1.25rem;
}

.date-picker:focus {
  outline: auto;
  outline-color: black;
  outline-offset: 2px;
}

.date-label input,
.month-label input {
  width: 100%;
  opacity: 0;
  cursor: pointer;
  line-height: 24px;
}

.react-datepicker-popper {
  z-index: 3;
}

.month-navigation .react-datepicker {
  transition:
    transform 200ms ease,
    opacity 200ms ease;
  transform-origin: top;
}

.month-navigation .react-datepicker-popper {
  padding-top: 0;
}

.month-label .react-datepicker-wrapper {
  max-width: 100%;
  left: 0;
  bottom: 0;
}

.react-datepicker {
  font-family: var(--serif-font);
  border: none;
  background: var(--leather-texture) var(--leather-color);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
  transform-origin: top right;
  animation: open-calendar 200ms ease forwards;
  --open-calendar: scale(0);
  transition: transform 200ms ease;
}

.month-label .react-datepicker {
  transform-origin: top center;
  width: 100%;
  --open-calendar: scaleY(0);
}
.custom-date-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@keyframes open-calendar {
  from {
    opacity: 0;
    transform: var(--open-calendar);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.react-datepicker__header {
  background-color: var(--leather-color);
  background-image: var(--leather-texture);
  border-bottom: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 2px;
}

.react-datepicker__day {
  outline: none;
}

.react-datepicker__day {
  width: 40px;
  max-width: calc(calc(100vw / 7) - 8px);
  aspect-ratio: 1 / 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1;
  border-radius: 6px;
  transition: background-color 75ms ease;
}

.react-datepicker__day:not([aria-disabled="true"]):hover,
.react-datepicker__month-text:not([aria-disabled="true"]):hover {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.react-datepicker__day:focus.react-datepicker__day--keyboard-selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text:focus.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected {
  outline: auto;
  outline-color: var(--brown-color);
  background-color: inherit;
}

.react-datepicker__day--selected,
.react-datepicker__month-text--selected {
  background-color: var(--brown-color) !important;
  color: #fff7d9;
  border-radius: 6px;
}

.react-datepicker__day--selected:hover,
.react-datepicker__month-text.react-datepicker__month-text--selected:hover {
  background-color: var(--leather-color);
}

.react-datepicker__day-name,
.react-datepicker__current-month,
.react-datepicker__header {
  color: #fff7d9;
}

.react-datepicker__day--selected[tabindex="0"],
.react-datepicker__month-text--selected[tabindex="0"] {
  border: 4px solid #d4caa3;
  outline: auto;
  outline-color: var(--brown-color);
}

.react-datepicker__day-name {
  width: 40px;
  max-width: calc(calc(100vw / 7) - 8px);
  font-size: 1rem;
}

.react-datepicker__current-month {
  font-size: 1.1rem;
}

.react-datepicker__month {
  background: var(--paper-color) var(--paper-texture);
  box-shadow:
    1px 1px 1px 1px #381a1480,
    2px 1px 0 0 var(--paper-color);
}

.react-datepicker__navigation {
  height: 28px;
  transition: background-color 75ms ease;
}

.react-datepicker__navigation:hover span::before {
  border-color: #fff7d9;
}

.react-datepicker__navigation span::before {
  border-color: #fff7d9;
}

.react-datepicker__navigation:hover {
  background-color: var(--brown-color);
}

.react-datepicker__day--today,
.react-datepicker__month-text--today {
  font-weight: 700;
  border: 1px solid var(--brown-color);
}

.react-datepicker__day--keyboard-selected {
  background-color: inherit;
  color: inherit;
}

.react-datepicker__today-button {
  background: var(--paper-color) var(--paper-texture);
  margin: 0.3rem;
  padding: 0;
}

.react-datepicker__today-button > button {
  display: block;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-family: var(--serif-font);
  font-size: 1.15rem;
  padding: 0.25rem;
  transition: background-color 75ms ease;
}

.react-datepicker__today-button > button:focus {
  outline: auto;
  outline-color: var(--brown-color);
}

.react-datepicker__today-button > button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.month-label .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__month-text {
  aspect-ratio: 3 / 2;
  display: grid;
  place-items: center;
}

.month-label .react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__month-wrapper {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 500px) {
  .date-label {
    color: var(--faded) !important;
    flex-direction: column-reverse;
  }

  .date-picker {
    font-size: 0.875rem;
    margin-right: 0;
    line-height: 1;
    flex-direction: column-reverse;
    color: var(--faded);
    width: 100%;
    gap: 0;
  }

  .date-picker span svg {
    font-size: 0.875rem;
  }

  .react-datepicker {
    --open-calendar: scaleY(0);
  }

  .month-label .react-datepicker {
    top: 0.5rem;
  }
}
