.monthly-viewer {
  position: relative;
  width: 98%;
  background: var(--paper-texture), linear-gradient(blue, var(--paper-color) 1px);
}

.month__wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-family: var(--serif-font);
  font-size: 1rem;
  line-height: 1;
  gap: 1px;
  width: calc(100% - 2px);
  margin: 0 auto;
}

.monthly-viewer .content {
  padding-bottom: 0;
}

.month__cell {
  width: 100%;
  aspect-ratio: 1 / 1;
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  padding-top: 2rem;
  overflow-y: scroll;
  scrollbar-width: none;
  cursor: pointer;
  padding: 1rem;
  /* justify-content: center; */
}

.month__cell::-webkit-scrollbar {
  display: none;
}

.month__cell:first-of-type {
  grid-column-start: var(--start);
}

.month__cell svg {
  /* font-size: 1rem; */
  /* color: var(--leather-color); */
  opacity: 0.8;
}

.month__date {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 0.75rem;
}

.month__date.today {
  color: var(--paper-color);
  z-index: 1;
  aspect-ratio: 1 / 1;
  display: inline-block;
  height: 100%;
}

.month__date.today::before {
  content: "";
  background-color: var(--leather-color);
  width: calc(75% + 0.5rem);
  height: calc(75% + 0.5rem);
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  top: 0.5rem;
  left: 0.5rem;
  transform: translate(-75%, -75%);
}

.weekday-label {
  text-align: center;
  height: 2rem;
}

.month__cell--items {
  display: grid;
  grid-template-columns: repeat(2, auto);
  font-family: var(--button-font);
}

.month__cell--items > * {
  align-self: center;
}

.month__cell--preview {
  grid-row: 7 / span 2;
  grid-column: 3 / span 5;
  padding: 0.5rem;
  aspect-ratio: 5 / 2;
  margin: 0.5rem;
  /* grid-row: span 2; */
  /* grid-column: span 5; */
  background: var(--leather-color) var(--leather-texture);
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4);
}

.month__cell--preview h3 {
  /* margin: 0; */
  /* position: sticky;
  top: 1em;
  background: var(--paper-color) var(--paper-texture);
  z-index: 1; */
}

.items__preview--list {
  overflow: auto;
  background: var(--paper-color) var(--paper-texture);
  margin: 0;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--leather-color) #c9c39f;
  box-shadow: 1px 1px 1px 1px #381a1480, 2px 1px 0 0 var(--paper-color), 3px 2px 1px 1px #381a1480;
}

.items__preview--list::-webkit-scrollbar {
  width: 4px;
}

.items__preview--list::-webkit-scrollbar-track {
  background: var(--paper-color) var(--paper-texture);
}

.items__preview--list::-webkit-scrollbar-thumb {
  background: var(--leather-color) var(--leather-texture);
}

@media (max-width: 500px) {
  .month__wrapper {
    width: calc(100% - 2px);
  }

  .month__cell {
    padding: 0.25rem;
  }

  .month__cell--preview {
    grid-row: 8;
    grid-column: 1 / span 7;
    aspect-ratio: unset;
  }
}
