.monthly-viewer {
  background: var(--paper-texture), linear-gradient(blue, var(--paper-color) 1px);
  position: relative;
  height: 100%;
}

.month-navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.month-navigation--button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  flex-grow: 0;
  width: fit-content;
}

.month-navigation--button:hover {
  background-color: rgb(0, 0, 0, 0.04);
}

.month-navigation--button > svg {
  vertical-align: middle;
  color: black;
}

.current-month {
  text-align: center;
  margin-block: 1rem;
  font-family: var(--serif-font);
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  position: relative;
  flex-basis: 250px;
}

.current-month:where(:focus-within, :focus) {
  outline: auto;
  outline-offset: 2px;
}

.month__wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-family: var(--serif-font);
  font-size: 1rem;
  line-height: 1;
  gap: 1px;
  width: 90%;
  margin: 0 auto;
}

.month__wrapper:where(:focus, :focus-visible, :focus-within) {
  outline: none;
}

.monthly-viewer .content {
  padding: 0;
  letter-spacing: unset;
  height: 100%;
}

.month__cell {
  width: 100%;
  aspect-ratio: 1 / 1;
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  padding-top: 2rem;
  overflow: hidden;
  scrollbar-width: none;
  cursor: pointer;
  padding: 1rem;
  transition: background-color 75ms ease;
}

.month__cell:hover {
  background-color: rgb(0, 0, 0, 0.04);
}

.month__cell:focus {
  box-shadow: 0px 0px 4px 1px rgb(0, 0, 0, 0.4);
}

.month__cell::-webkit-scrollbar {
  display: none;
}

.month__cell:first-of-type {
  grid-column-start: var(--start);
}

.month__cell svg {
  opacity: 0.8;
}

.month__date {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 0.75rem;
  isolation: isolate;
}

.month__date::before {
  content: "";
  transition:
    background-color 150ms ease,
    border 75ms ease,
    box-shadow 75ms ease;
}

.month__date.today {
  color: #fff7d9;
  z-index: 1;
}

.month__date.today::before {
  content: "";
  background-color: var(--brown-color);
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  --translate: calc(-50% - 0.5rem);
  transform: translate(var(--translate), var(--translate));
  padding: 2rem;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
}

.month__cell:where(:focus, :focus-visible) .month__date::before {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  --translate: calc(-50% - 0.5rem);
  transform: translate(var(--translate), var(--translate));
  padding: 2rem;
  border: 1px solid black;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.4);
}

.weekday-label {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.month__cell--items {
  display: grid;
  grid-template-columns: repeat(2, auto);
  font-family: var(--button-font);
}

.month__cell--items > * {
  align-self: center;
}

.month__cell--preview {
  grid-row: 7 / span 2;
  grid-column: 3 / span 5;
  padding: 0.5rem;
  aspect-ratio: 5 / 2;
  margin: 0.5rem;
  background: var(--leather-color) var(--leather-texture);
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  height: 100%;
  z-index: 1;
  position: relative;
  width: 100%;
  border: none;
}

.items__preview--wrapper {
  overflow: auto;
  padding-inline-start: 2rem;
  height: 100%;
  background: var(--paper-color) var(--paper-texture);
  scrollbar-width: thin;
  scrollbar-color: var(--leather-color) #c9c39f;
  box-shadow:
    1px 1px 1px 1px #381a1480,
    2px 1px 0 0 var(--paper-color),
    3px 2px 1px 1px #381a1480;
}

.items__preview--wrapper a:hover {
  background-color: rgb(0, 0, 0, 0.04);
}

.items__preview--wrapper a:focus {
  outline-offset: 2px;
}

.items__preview--wrapper h3 {
  display: inline-block;
}

.items__preview--list {
  margin: 0;
  padding-inline-start: 0rem;
}

.items__preview--list li {
  cursor: default;
  line-height: initial;
  margin: 0.375rem;
}

.items__preview--wrapper::-webkit-scrollbar {
  width: 4px;
}

.items__preview--wrapper::-webkit-scrollbar-track {
  background: var(--paper-color) var(--paper-texture);
}

.items__preview--wrapper::-webkit-scrollbar-thumb {
  background: var(--leather-color) var(--leather-texture);
}

.loading {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .current-month {
    font-size: 1.25rem;
  }

  .weekday-label {
    font-size: 0.875rem;
  }

  .month__wrapper {
    width: calc(100% - 2px);
  }

  .month__cell {
    padding: 0.25rem;
  }

  .month__date {
    top: 0.25rem;
    left: 0.25rem;
  }

  .month__cell--preview {
    grid-row: 8 / span 1;
    grid-column: 1 / span 7;
    aspect-ratio: unset;
    margin-inline: 0;
  }
}
